[submodule "docs/modul/maps"]
	path = docs/modul/maps
	url = https://github.com/eq19/maps
[submodule "docs/modul/feed"]
	path = docs/modul/feed
	url = https://github.com/eq19/feed
[submodule "docs/modules/grammar"]
	path = docs/modules/grammar
	url = https://github.com/eq19/grammar
